@media screen and (max-width: 1790px) {
  html,
  body {
    font-size: 16px;
  }

  .section-col {
    &__image {
      width: 40%;
    }
  
    &__content {
      width: 50%;
    }
  }

  .content {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1550px) {
    html,
    body {
      font-size: 14px;
    }  
  }

  @media screen and (max-width: 1380px) {
    .section-col {
      &__image {
        width: 43%;
      }
    
      &__content {
        width: 50%;
      }
  }
}
  @media screen and (max-width: 1310px) {
    .main-title {
      font-size: 13px;
    }  
  }

