.section__main {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: $main_shift;
  right: $main_shift;
  top: 14vw;
}
.main-title {
  font-size: 18px;
  margin-bottom: 126px;

  &__summary {
    font-weight: 700;
    color: $main_highlite;
    text-transform: uppercase;
    letter-spacing: 6px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    &::before {
      content: '';
      display: block;
      width: 72px;
      height: 2px;
      margin-right: 32px;
      background: $main_highlite;
    }
  }

  &__text {
    font-size: 96px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 27px;

    &_regular {
      display: block;
      font-size: 86px;
      font-weight: 400;
    }
  }
}

.social-networks {
  position: absolute;
  left: 0;
  top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    writing-mode: vertical-lr;
    margin-bottom: 22px;
    font-weight: 600;
    line-height: 24, 51px;
  }

  &__item {
    margin-bottom: 25px;
  }

  &__link {
    opacity: 1;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.scroll-down {
  display: flex;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  font-weight: 600;
  &:hover {
    opacity: 0.7;
  }

  &__icon {
    margin: 7px 0 0 9px;
  }
}

.icon__instagram {
  width: 20px;
  height: 20px;
  background: url('/img/instagram.svg') no-repeat center center;
  background-size: contain;
}
.icon__facebook {
  width: 20px;
  height: 20px;
  background: url('/img/facebook.svg') no-repeat center center;
  background-size: contain;
}
.icon__twitter {
  width: 20px;
  height: 20px;
  background: url('/img/twitter.svg') no-repeat center center;
  background-size: contain;
}

.icon__arrow_downward {
  width: 16px;
  height: 24px;
  background: url('/img/arrow_downward.svg') no-repeat center center;
  background-size: contain;
}
